@charset "UTF-8";

/* HTML Defaults */

body {
	font: 100%/1.5em Arial, Tahoma, sans-serif;
	color: #654332;
	margin: 0;
	padding: 0;
}

body.page {
	color: #654332;
	background-color: #6D5035;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #a11900;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin-top: 0;
	margin-bottom: .6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 157%;
	line-height: 1.2em;
	font-weight:bold;
}
h2 {
	font-size: 129%;
	line-height: 1.2em;
	font-weight:bold;
}
h3 {
	font-size: 129%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 93%;
	line-height: 1.2em;
}
h6 {
	font-size: 86%;
	line-height: 1.15em;
}

img {
	vertical-align: middle;
	border: none;
}

.right {float:right;}

.imageright {
  float:right; 
  margin-left:10px;
  margin-bottom:10px;
}

.left {float:left;}
.imageleft {float:left; margin-right:10px;}
.paddedTop {margin-top:70px;}

.imageBorderRight {
  float:right; 
  margin-left:10px;
  margin-bottom:10px;
  border:15px solid #EDE4DD;
}

a:active { outline: none; }
a:focus { -moz-outline-style: none; }

hr {
	color: #024270;
	background: #024270;
	height: 1px;
	padding: 0;
	border: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	color: #185e87;
	vertical-align: middle;
}

/* Main Containers */

#container {
	width:100%;
	min-width:1018px;
	float:left;	
	margin-bottom:20px;
}

#wrap {
	width:1018px;
	margin:0 auto;
}

/* Header */

#header {
	background: url(../images/header-bg-frame-index.jpg) no-repeat left top;
	width:976px;
	height:363px;
	margin:0px auto;
}

#header #logo, #header #logo p, #header #logo a.log {
	height:291px;
	width:370px; 
}

#logo, #logo p, #logo a.log {
	margin:0;
	padding:0;	
	float:left;
}

#logo {
	margin:50px 0px 0 34px;
	position:absolute;
	display:block;
}

#logo a.log {
	text-indent: -9999px;
}
	
#nav {
	position:relative;
	z-index:9999;
	float:right;
	margin-right:14px;
	width:100%;
	font-size:100%;
}
 	
#topNav {
	margin:0px auto;
	z-index:9300;
	float:right;
}
	
#topNavLH {
	background:url('../images/top-nav-lh.png') top left no-repeat;
	height:39px;
	width:12px;
	float:left;
}	

#topNavRH {
	background:url('../images/top-nav-rh.png') top right no-repeat;
	height:39px;
	width:12px;
	float:left;
}	
	
#topNav > ul {
	padding:0 10px;
	margin:0 auto;  
	height:38px;
	background-color: #A68055;
	border-top: 6px solid #6D5035;
	float:left;
	z-index:9400;
	position:relative;
}

#nav ul li {
	float:left;
	list-style:none;
	display:block;
	margin-top:7px;
	position:relative;
}

#nav ul li.first{
	background:none;
}

#nav ul li.first a {
	padding-left:11px;
}

#nav ul li a {
	color:#2E1C12;
	padding: 0px 14px 0px 17px;
	white-space: nowrap;
}

#topNav ul li.on a, #topNav ul li.on ul li a:hover {
	color:#FFF;
}
	
#topNav ul li.on ul li a {
	color:#fff;
}

#topNav ul li a img {
	margin-right:5px;
}

#topNav ul li ul li a {
  color:#BDAD91;
}

#topNav ul li a:hover  {
	text-decoration:none;	
	color:#BDAD91;	
}

#topNav ul li ul li a:hover  {
  text-decoration:none; 
  color:#6D5035;  
}

#nav ul li ul {
	display: none;
}

#nav ul li:hover ul, #nav ul li.sfhover ul, #nav ul li:hover ul li:hover ul, #nav ul li.sfhover ul li.sfhover ul, #nav ul li:hover ul li:hover ul li:hover ul, #topNav ul li.sfhover ul li.sfhover ul li.sfhover ul {
	display: block;
}

#nav ul li ul {
	padding: 0;
	position:absolute;
	top:25px;
	margin:0;
	left:0;
	z-index:9200;
	background:none;
	-moz-box-shadow:0px 2px 8px 1px #000;
	-webkit-box-shadow: 0px 2px 8px #000;
	height:auto;
}

#nav ul li ul li {
	padding:0;
	height:30px;
	margin:0;
	background:none;
	background-color:#6D5035;
	float:none;
}

#nav ul li ul li a {
	display:block;
	font-size:14px;
	text-align:left; 
	margin-left:12px;
}

#nav ul li ul li a{
	padding:5px;
	width:200px;
}

#nav ul li ul li:hover {
	background-color:#9BD000;
}

#nav ul li.first ul li a {
	margin-left:0;
}

#lowerNav {
	clear:both;
	width:52%;
	float:right;
	margin-right:120px;
}


#lowerNav ul li ul li {
	background-color:#565718;
}

#lowerNav ul li ul li:hover {
	background-color:#9BD000;
}

#lowerNav ul li ul {
	top:24px;
}

#lowerNav ul li ul li a{
	width:150px;
}

#emer {
  float:right;
  color: #DBDCBA;
  font-size: 12px;
  text-align: center;
}

#emer #emerRH {
	background:url(../images/emer-tab-rh.png) top right no-repeat; 
	height:32px;
	width:7px;
	float:right;
}

#emer #emerMid {
  background-color: #9A0000;
  float: right;
  height: 38px;
  width: 91px;
}

#emer #emerMid p {
	margin: -3px auto;
}

#emer #emerMid img {
  vertical-align: bottom;
}

#emer #emerMid a {
	color:#f9f9dd;
}

#emer #emerMid a:hover {
	text-decoration:none;
	color:#ffff84;
}

#emer #emerLH {
	background:url(../images/emer-tab-lh.png) top right no-repeat; 
	height:32px;
	width:7px;
	float:right;
}

#homeNav {
	float:left;
	margin-left:100px;
}

#homeNavLH {
	background:url('../images/home-nav-lh.png') top left no-repeat;
	height:32px;
	width:6px;
	float:left;
}	

#homeNav ul {
	padding:0 14px;
	margin:0 auto;  
	height:38px;
  background-color: #565718;
	float:left;
}

#homeNav ul li a {
	color:#DBDCBA;
}

#homeNav ul li a:hover {
	color:#F8F8F1;
	text-decoration:none;
}

#homeNav ul li.on a, #topNav ul li.on ul li a:hover {
	color:#ffffff;
}
	
#homeNav ul li.on ul li a {
	color:#fff;
}

#homeNavRH {
	background:url('../images/home-nav-rh.png') top right no-repeat;
	height:32px;
	width:6px;
	float:left;
}	


/* Content */

#bodyWrap {
	width:1018px;
	float:left;

}

#bar {
	margin-top:2px;
	margin-left:13px;	
	}
	
#topBar {
	width:991px;
	height:45px;
	background:url('../images/contactinfo.jpg') top left no-repeat;
	color:#F2F4D4;
	padding:0px 25px;
	z-index:9000;
	position:relative;	
}

#topBar #contact {
	font-family:myriad pro, myriad, verdana, sans-serif;
	font-size:120%;
	font-weight:normal;
	float:left;
	margin:8px 40px 0px 10px;
}

#topBar #phone {
	float:left;
	margin:5px 25px 0px 0px;
}


#topBar #phone span.text {
  margin:3px 0px 0px 6px;
}

#topBar #email {
  float:left;
  margin:6px 23px 0px 0px;
}

#topBar #email span.text {
  margin:2px 0px 0px 6px;
}


#topBar #directions {
  float:left;
  margin:5px 25px 0px 0px;
}

#topBar #directions span.text {
  margin:4px 0px 0px 6px;
}

#topBar #social {
	float:right;
	margin-right:50px;
	margin-top:9px;	
	padding:0;
}

#topBar #social a {
	background:url('../images/facebook.png') left -1px no-repeat;
	float:left;
	width:30px;
	height:30px;
	display:block;
	margin:-2px 8px 0 -26px;
	padding:0;
}


#topBar span {
  float:left;
  font-size:115%;
  font-weight:bold;
}

#topBar a {
	color:#F2F4D4;
}

#topBar a:hover {
	color:#ffb44e;
	text-decoration:none;
}	


#contentWrap {
	clear:both;
	width:100%;
	float:left;
	margin:0 21px;
}

#contentIndex {
  background: none repeat-x scroll left bottom #F2F4D4;
  float: left;
  margin: 0 auto;
  padding: 35px 45px 30px;
  width: 886px;
}

#content {
  width:900px;
  float:left;
  background:#F2F4D4 bottom left repeat-x;
  margin:0 auto;
  padding:18px 38px 30px;
}


#contentInner {
	float:left;
	padding:4px;
	width:100%;
	position:relative;
	min-height: 200px;
	
}

#rightWrap {
	float:right;
	width:250px;
	min-height:260px;
}

#copy {
	float:left;
	width:650px;
	position:relative;
}

#copy.noSide {
	width:940px;
}

#copyInner {
	float:left;
	width:680px;
	margin-bottom:6px;
	padding-bottom:10px;
}

#copy img.photo {
  float:left;
  margin:2px 16px 1em 2px;
  width:200px;
}

#copy #address {
  font-weight:bold;
}

#copy #map {
  float:right;
}

.important {
  font-size:100%;
  font-weight:bold;
}

#sideMenu {
	width:212px;
	float:right;
	margin-bottom:180px;
	font-size:95%;
}

#sideMenu dl {
	width:212px;
	float:right;
	position:relative;
	margin:0px auto 30px auto;
}

#sideMenu dt {
	color:#6f1200;
	font-size:140%;
	border-bottom:1px solid #6f1200;
	padding-bottom:6px;
	font-style:italic;
	margin-bottom:6px;
}

#sideMenu dd {
	margin:0 0 6px 10px;

}

#sideMenu dd a {
	color:#654332;
	font-size:110%;
}

#sideMenu dd a:hover {
	color:#6f1200;
	text-decoration:none;
}

#sideMenu dd a.on {
	color:#6f1200;
	text-decoration:none;
}

#sideMenu + #button {
	background:url('../images/hourBgd.png') top left no-repeat;
	width:224px;
	height:141px;
	white-space:nowrap;
	position:absolute;
	bottom:50px;
	right:-56px;
	clear:both;
}

#sideMenu + #button #buttonInner {
	margin-top: 25px;
}

#sideMenu + #button + #petportal {
	margin:0px -10px 0 0;
}

#button {
	position:relative;
	width:193px;
	float:right;
	height:141px;
	color:#F2F4D4;
	background:url('../images/hourBgdIdx.png') top left no-repeat;
	z-index:8500;
  -moz-box-shadow:0px 2px 8px 1px #000;
  -webkit-box-shadow: 0px 2px 8px #000;
  margin-top:-39px;
}

#buttonInner {
	margin:20px 10px 10px 10px;
	text-align:center;
}

#buttonInner > h4 {
	margin:0 0 10px 0;
	font: bold 87% Arial,san-serif;
}

#buttonInner > div {
  margin-bottom: 0.6em;
}

#buttonInner div p {
  font-size: 85%;
  margin-bottom: -9px;
}

#petportal {
	width:201px;
	clear:right;
	height:45px;
	float:right;
	background:url('../images/pportal-bg.png') top left no-repeat;
	margin:25px 5px 0 0;
}

#petportalInside {
	width:201px;
	clear:right;
	height:45px;
	float:right;
	background:url('../images/pportal-bg.png') top left no-repeat;	
	bottom:15px;
	position:absolute;
	right:0px;
}

#ppLog, #ppLog p, #ppLog a {
	width:56px;
	height:18px;
	float:right;	
}

#ppLog p {
	padding:0;
	margin:0;
}

#ppLog {
	background: url('../images/login-on-off.png') no-repeat left top;
	margin-right:10px;
	margin-top:6px;
}

#ppLog a {
	text-indent: -9999px;
}

#ppLog:hover {
	background-position:center -18px;
}

.line {
  display: block;
}


/* Testimonial */

#quote {
	clear:both;
	float:left;	
	width:941px;
	margin:0 0 8px 0;
	padding:2px 15px 0px 20px;
	background-color:#e9d9c0;
	border-top:1px dotted #987c4f;
	margin-left:-17px;
}

#quote p {
	margin-top:4px;
	font-size:12px;
	font-style:italic;
	color:#534226;
	margin-bottom:0;
	padding-bottom:5px;
}

.qreg {
	font-style:normal;	
}




/* Footer */

#dog {
	float:left;
	background:url('../images/nintendogs.png') bottom left no-repeat;
	width:161px;
	height:211px;
	margin-right:10px;
	z-index:9900;
	margin-bottom:-13px;

}



#footer {
	float:left;
	width:954px;
	position:relative;
	height:226px;
}

#footer #dogText {
	width:436px;  
	float:left;
	margin-top:20px;
}

#copyright {
  float:left;
  width:976px;
  position:relative;
}

#copyright p.foot {
	font-size:65%;
	color:#fef7ed;
	margin-bottom:20px;
}


#bottom {
	width:472px;
	min-height:190px; 
	float:right;
	background: #878330 url('../images/promotions.jpg') no-repeat left bottom;
	padding:12px 12px;
	-moz-box-shadow:0px 2px 8px 1px #000;
	-webkit-box-shadow: 0px 2px 8px #000;
  margin-top:35px;
	margin-right:40px;
}

#bottom h3, #bottom h3 a {
	color:#e8f1db;
	font-size:100%;
	font-weight:bold;
}

#bottom h3 a:hover {
	color:#ffb44e;
	text-decoration:none;
}



#bottom p {
	color:#f9f9dd;	
}

#bottomSec1 {
	width:220px;
	float:left;
	position:relative;
	margin-left:3px;
}

#bottomSec2 {
	width:220px;
	position:relative;
	float:right;
	margin-right:7px;
}

#bottom img.border {
	border:3px solid #422C17;
	margin-bottom:5px;	
}

#bottom img.border:hover{
	border:3px solid #ffb44e;
}


#slideshow8 {
	position: relative;
	height: 314px;
	width: 500px;
}
#slideshow8 #slides8 {
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9000;
	height: 314px;
	width: 500px;
	margin: 0 auto;
}
.tourcaption8 {
	position: absolute;
	bottom: 0;
	left: 20px;
	z-index: 9100;
	width: 480px;
	text-align: center;
	padding: 5px 10px;
	background: #701200;
	color: #fff;
	display: none;
}

/* tables */
table {
  border:1px solid green;
  font-size:94%;
  width:100%;
}
th, td {
  border:1px solid #f9f9dd;
}

table, th, tr, td {
  margin-bottom:1em;
  border-collapse:collapse;
  color:#f9f9dd;
  background-color:#6D5035;
  padding:7px 12px;
}

table th {
  background-color:#9BD000;
  color:#6D5035;  
}
th {
  text-align:center; 
}

.cellctr {
  text-align: center;
}
