<div id="sideMenu">
  <dl>
    <dt><%= link_to "About Us", about_path, :title => "About Us"%></dt>
    <dd><%= link_to "Veterinarians", vets_path, :title => "Veterinarians" %></dd>  
    <dd><%= link_to "Veterinarian Staff", staff_path, :title => "Veterinarian Staff" %></dd>
    <dd><%= link_to "Our History", history_path, :title => "Our History" %></dd>
  </dl>  
</div>
