<div id="sideMenu">
  <dl>
    <dt><%= link_to "Payment Options", payment_path, :title => "Payment Options" %></dt>
    <dd><%= link_to "Care Credit", care_credit_path, :title => "Care Credit" %></dd>
    <dd><%= link_to "Forms of Payment", payment_forms_path, :title => "Forms of Payment" %></dd>
    <dd><%= link_to "Pet Insurance", pet_insurance_path, :title => "Pet Insurance" %></dd>
  </dl>
</div>
