<div id="sideMenu">
  <dl>
    <dt><%= link_to "Pet Care Resources", pet_resource_path, :title => "Pet Care Resource" %></dt>
    <dd><%= link_to "Helpful Links", helpful_links_path, :title => "Helpful Links" %></dd>
  </dl>
</div>
