<h2>Citrus Veterinary Clinic Halloween Costume Contest 2012 !</h2>
<% fbimg = image_tag("http://sphotos-a.xx.fbcdn.net/hphotos-prn1/561503_499528946723870_2076678511_n.jpg") %>
<%= link_to fbimg, "http://www.facebook.com/citrusvet", :alt => "Citrus Vet Clinic Facebook", :target => "Citrus Vet Clinic Facebook" %>
<p>Hello ghouls and goblins!</p>
<p>We will be holding a Halloween costume photo contest for all of our cat and dog buddies!</p>
1st prize will be a FREE physical exam coupon (a value of $55)<br/>
2nd prize will be a $30 Citrus Vet Clinic gift certificate<br/>
3rd prize will be a $15 Citrus Vet Clinic gift certificate<br/>
<p/>
<p>
  Photo submissions may be direct posts to 
  <%= link_to "our facebook wall", "http://www.facebook.com/citrusvet", 
    :title => "Citrus Vet Clinic Facebook",
    :target => "Citrus Vet Clinic Facebook" %>
  or by e-mail to <%= mail_to "info@citrusvetclinic.com" %>.
</p>
<p> 
  All photos will be placed in a 
  <%= link_to "HALLOWEEN COSTUME PHOTO CONTEST ALBUM",
    "http://www.facebook.com/media/set/?set=a.499528933390538.120607.201780673165367&type=3",
    :title => "Citrus Vet Clinic Facebook",
    :target => "Citrus Vet Clinic Facebook" %>
   and everybody can vote by pressing 
  the 'like' button on the desired contestant! 
  (Sorry! Limited to Citrus Vet patients; 1 picture per patient and 2 pets per household.) 
  No facebook you say? You can also ask your friends to enter your pet and vote for you! 
  (Just let us know its you:D)
</p>
<p>
  We will be taking submissions from October 3rd to October 25th. The deadline to vote 
  will be on the 28th-@ 7:30 p.m. and we will announce the prize winners on the 30th!
</p>
