<% content_for :sidemenu do %>
  <%= render "about_sidemenu" %>
<% end %>
<div id="copy">
<h1>About Citrus Veterinary Clinic</h1>
<p>
  Citrus Veterinary Clinic veterinarians and staff are committed to providing 
  highest quality veterinary care to you and your special family members. Our 
  values reflect our finest dedication to companion animals, their owners, 
  and those who care for them.
</p>
<p>
  <strong>Our Mission</strong> is to be a client-oriented facility that provides 
  outstanding service and unprecedented veterinary care, without losing sight 
  of the ever-changing needs of both our clients and their pets. We strive to 
  educate our clients and treat our clients with clarity, honesty and respect.
</p>
<p>
  <strong>Our Team Members </strong> are passionate about caring for pets and 
  dedicated to educating ourselves in the most current and effective diagnostics 
  and treatments available in veterinary medicine.
</p>
<p>
  <strong>Our Patients</strong> are given high quality medical service, gentle 
  handling and compassionate care they deserve.
</p>
</div>
