<% content_for :sidemenu do %>
  <%= render "health_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Pet Care Articles</h1>
  
  <iframe src="http://websource.4act.com/citrusveterinaryclinic/" width="100%" 
    height="1300" frameborder="0" scrolling="yes"></iframe>
</div>
