<% content_for :sidemenu do %>
  <%= render "payment_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Care Credit</h1>
  <p>
    Whether it's a routine checkup or emergency surgery, you shouldn't have 
    to worry about how to get the best medical care for the pet you love. 
    That's why we're pleased to offer CareCredit&#174;, North America's leading 
    client payment program. CareCredit lets you say "yes" to the best treatment 
    for your pet immediately, and pay for it over time with low monthly payments 
    that fit easily into your budget.
  </p>
  <p>
    Like a credit card, but better. CareCredit works just like a regular credit card, 
    but without high interest rates, annual fees or pre-payment penalties. CareCredit 
    offers no-interest and low interest payment terms, zero hidden fees, and low minimum 
    monthly payments. You can use your CareCredit card over and over for all your pet's 
    follow-up care as well as annual exams and vaccines. So you can focus on what really 
    matters, like playing fetch and learning new tricks.
  </p>
  <h3>With CareCredit</h3>
  <ul>
    <li>Enjoy low minimum monthly payments</li>
    <li>Get a No-Interest Payment Plan for any treatment amount</li>
    <li>Start your pet's treatment immediately</li>
  </ul>
  <p>
    Learn more by visiting 
    <%= link_to "CareCredit.com", "http://www.carecredit.com", :alt => "CareCredit.com" %> 
    or asking us for details. Ready to apply? Apply online for your CareCredit card today.
  </p>
</div>
