<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Pet Dental Care</h1>
  <%= image_tag("/images/dental_care350.jpg", :class => "imageright") %>
  <p>
    Pet dental disease is a serious and life-threatening problem, affecting as many as 95% 
    of all dogs and cats. Dental disease can range from a serious build-up of plaque on the 
    teeth to periodontal disease, an infection in the gums with loss of supporting bone 
    around the teeth. In addition, dental disease can seed the bloodstream with infection, 
    impacting vital organs such as the heart, lungs, liver, and kidneys.
  </p>
  <p>
    When we examine your pet’s teeth and mouth, we look for the following:
  </p>
  <ul>
    <li>Gingivitis</li>
    <li>Fractured or chipped teeth</li>
    <li>Tartar buildup</li>
    <li>Abscesses</li>
    <li>Pockets in the gums</li>
    <li>Correct bite</li>
    <li>Jaw injury</li>
    <li>Erosion in the enamel</li>
  </ul>
  <p>
    When necessary, we may recommend a professional dental cleaning. This includes 
    the removal of harmful tartar and polishing to help prevent decay.
  </p>

  <h2>Anesthesia and Pet Dental Care</h2>
  <p>
    Pets must be anesthetized in order to clean their teeth properly. To address 
    your concerns about the use of anesthesia during dental procedures, we recommend 
    downloading this educational information: 
    <%= link_to "Companion Animal Dental Scaling Without Anesthesia", "http://www.avdc.org/Dental_Scaling_Without_Anesthesia.pdf" %>,
    a position statement from the <%= link_to "American Veterinary Dental College", "http://www.avdc.org/" %>.
  </p>
  <p>
    Pre-anesthesia testing and laboratory work are performed prior to every procedure, 
    and your pet is closely monitored from the initiation of anesthesia through full 
    recovery by a trained anesthetic nurse. The veterinarian may take high-resolution 
    digital dental X-rays for accuracy in diagnosing current and developing problems.    
  </p>
  <p>
    High-speed instruments similar to human dentistry are used to remove plaque 
    from the teeth and polish enamel. In addition, we offer more advanced veterinary 
    dental procedures as needed, such as tooth extractions and oral surgery. 
    State-of-the-art technology and advanced training ensure your pet receives 
    the safest experience available in pet dental care and surgical services.
  </p>
  
  <h2>Three Steps to Pet Dental Disease Prevention</h2>
  <ol>
    <li>Regular veterinary exams - As part of your routine wellness care, our veterinarian 
      will look at your pet’s mouth, teeth, and gums to determine if there are any obvious 
      problems; routine lab work may also reveal a hidden infection or other related health issue.</li>
    <li>Proper teeth cleaning - Under anesthesia, our veterinarian can thoroughly examine 
      the mouth for developing problems, remove plaque and tartar both above and below the 
      gum line, and polish the tooth enamel; digital dental X-rays help to reveal problems 
      occurring deep in the tooth or surrounding area.</li>
    <li>Home dental care - Our veterinary professionals will assist you in developing a home 
      dental hygiene routine to maintain clean teeth and promote healthy gums; a diet of good 
      quality pet food and chew treats are a positive addition to your home care plan.</li>
  </ol>
</div>
