<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Veterinary Diagnostics</h1>
  <ul>
    <li>Laboratory Services</li>
    <p>
      Citrus Veterinary Clinic's in-house diagnostic laboratory is capable of performing 
      a complete series of diagnostic tests for your pet. During an emergency, your pet 
      needs to be diagnosed and treated as quickly as possible. Our state-of-the-art 
      laboratory and well-trained technical staff are capable of performing complete 
      blood counts (CBC), blood chemistry profiles and serum electrolyte measurements 
      within a matter of minutes. Specially trained veterinary technicians staff our 
      laboratory and are capable of interpreting your pet's results quickly and accurately. 
      Once your pet's laboratory results are in hand, our veterinarians and technicians 
      can begin your pet's treatment immediately.
    </p>
    <p>
      We also utilize one the the nation's largest reference laboratory in order to 
      provide a full list of extensive laboratory testing.
    </p>
    <li>Radiology Services</li>
    <p>
      Radiology is an essential diagnostic tool in veterinary medicine. Radiographs (x-rays) 
      are used for assessing pets with a wide variety of ailments. X-rays are used to 
      diagnose many conditions, including broken bones, tumors, bladder stones and locating 
      foreign bodies (a bone, toy or article of clothing) in your pet's stomach. Radiographs 
      also are useful for diagnosing heart and lung problems and can be used to evaluate dogs 
      for hip and elbow dysplasia. Special procedures (such as barium series) help evaluate 
      your pet's gastrointestinal tract for mobility problems and obstructions.
    </p>
    <li>Ultrasound</li>
    <p>
      This non-invasive, state-of-the-art technology uses sound waves to painlessly examine 
      specific internal organs. This allows us to biopsy intra-abdominal structures without 
      surgery. Pregnancy exams are also available. We have one of the newest, more 
      advanced ultrasound units available.
    </p>
    <p>
      We are proud at Citrus Veterinary Clinic to have a complete range of diagnostic tools 
      on site to serve you better. Accurately diagnosing pet health problems allows us to 
      begin treatment quickly, which offers you confidence and a greater peace of mind 
      knowing we’re doing everything possible to treat your special friend.      
    </p>
  </ul>
</div>
