<% content_for :sidemenu do %>
  <%= render "emergency_sidemenu" %>
<% end %>
<div id="copy">
  <p>
  <span class="important">Call 909-596-1881</span> during our regular hours:<br/>
  M T Th Fr  8:00am-5:30pm<br/>
  Wed Sat    8:30am-noon
  </p>
  <p>
  We take our responsibility to respond in an emergency very seriously. Upon arrival, all
  patients are quickly assessed by our highly trained triage staff.
  </p>
  <p>
  For after hours emergency care, please contact:
  </p>
  <p>
  <strong>Inland Valley Emergency Pet Clinic</strong><br/>
  10 West 7th Street,<br/>
  Upland, CA 91786<br/>
  Phone: 909-931-7871     
  </p>
  <p class="important">
  Inland Valley Emergency Pet Clinic Hours:
  </p>
  <p>
  Mon-Fri 6p.m.-8a.m.<br/>
  Sat, Sun and Holidays 24 hrs<br/>
  </p>
</div>
