<% content_for :sidemenu do %>
  <%= render "emergency_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Emergency</h1>
  <span class="important">Call 909-596-1881</span> during our regular hours:<br/>
  <table class="regular">
    <tr>
      <td>Mon Tue Thur Fri</td><td>8:00am - 5:30pm</td>
    </tr>
    <tr>
      <td>Wed Sat</td><td>8:30am - noon</td>  
    </tr>
  </table>
  <p>
  We take our responsibility to respond in an emergency very seriously. Upon arrival, all
  patients are quickly assessed by our highly trained triage staff.
  </p>
  <p>
  For after hours emergency care, please contact:
  </p>
  <p>
  <span class="important">East Valley Emergency Clinic</span><br/>
  938 North Diamond Bar Blvd<br/>
  Diamond Bar, CA 91765<br/>
  Phone: 909-861-5737<br/>
  Fax: 909-861-3286
  </p>
  <span class="important">East Valley Emergency Clinic Hours:</span>
  <table class="regular">
    <tr><td>Mon - Fri</td><td>6:00pm - 8:00am</td></tr>
    <tr><td>Sat, Sun and Holidays</td><td>24 hrs</td></tr>
  </table>
</div>
