<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Comprehensive Examinations</h1>
  <p>
    All pets should be examined at least annually by your veterinarian. Pets age about seven
    times as fast as we do, so, older pets should be examined even more often. Examinations are
    critical to help veterinarians find disease early—the best time for them to be treated.
  </p>
  <p>
    During the physical examination, the veterinarian will check your pet’s eyes, nose, ears,
    mouth, teeth, skin and haircoat. Your pet’s weight and temperature will also be measured,
    and the veterinarian will also listen to your pet’s heart and lungs. It’s helpful to establish
    a baseline for each patient so, if health or behavioral changes do take place, the causes can
    be diagnosed and treated quickly.
  </p>
    Depending upon the age of your pet, blood tests or other diagnostics may be recommended 
    as part of regular wellness care and disease prevention. Examinations also give you an 
    opportunity to ask questions about your pet’s health.
  </p>
</div>
