<% content_for :sidemenu do %>
  <%= render "pet_resource_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Helpful Links</h1>
  
  <dl>
    <dt>
      <%= link_to "Companion Animal Parasite Control", "http://www.capcvet.org", :alt => "Companion Animal Parasite Control" %>
    </dt>
    <dd>
      Get the latest information on the diagnosis, treatment, prevention, 
      and control of parasitic infections in companion animals.
    </dd>
  </dl>
</div>