<% content_for :sidemenu do %>
  <%= render "about_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Our History</h1>
  <p>
    For more than 30 years, Citrus Veterinary Clinic has provided exceptional veterinary care for pets in La Verne, CA and the surrounding area.
  </p>
  <p>
    Citrus Veterinary Clinic was started in 1975 by Dr. Terry Lepper, DVM. In 2003, Dr. Teri Clark (Drean) joined the practice and shortly thereafter, Dr. Catherine Cheng also joined the practice.
  </p>
  <p>
    Your pet deserves only the best veterinary care. Our full-service veterinary clinic meets all your pet's needs, from routine examinations and vaccinations to digital dental radiology, surgeries and ultrasound.
  </p>
  <p>
    We know your pet is an important member of your family. We are dedicated to providing compassionate, quality veterinary care. The veterinarians and staff at Citrus Veterinary Clinic are pleased to welcome you into our family.
  </p>
  <div style="clear:both;"></div>
</div>
<!-- END #copy -->
