<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Internal Medicine</h1>
  <%= image_tag("/images/dogs_doc.jpg", :class => "imageright") %>
  <p>
    Your pet has access to a full complement of veterinary medical care at Citrus Veterinary 
    Clinic. The veterinarians at Citrus Veterinary Clinic are experienced in treating a variety 
    of veterinary medical cases, with a focus on:
  </p>
  <ul>
    <li>Cardiology</li>
    <li>Ophthalmology</li>
    <li>Neurology</li>
    <li>Dermatology</li>
    <li>Gastroenterology</li>
    <li>Oncology</li>
    <li>Endocrinology</li>
  </ul>
</div>
