<% content_for :sidemenu do %>
  <%= render "news_sidemenu" %>
<% end %>
<div id="copy">
  <h1>News</h1>
  
  <dl>
    <dt>Jan 21st, 2012 Chinese New Year Festivial at Walnut</dt>
    <dd>
      We are hosting a booth at the Chinese New Year Festival organized by Sing Tao Daily. 
      There will be raffles and prizes. Check us out!  
    </dd>
  </dl>
</div>