<% content_for :sidemenu do %>
  <%= render "news_sidemenu" %>
<% end %>
<div id="copy">
  <h1>News</h1>
  
  <dl>
    <dt>Saturday Jan 21, 2012 - Chinese New Year Festivial at Walnut Creekside Park</dt>
    <dd>
      We hosted a booth at the 
      <%= link_to "Chinese New Year Festival", "http://www.singtaola.com/st/share/images/CFMLANTER.jpg", :alt => "Chinese New Year Festival" %>
      organized by Sing Tao Daily.
      There were K-9 Shows, favorite pets contests, raffles, prizes and a whole bunch of fun activities.
      Citrus Veterinary Clinic is proud to sponsor the pet contest and offer pet care advices for owners.
      <div>
      <%= image_tag("creekside.png", :alt => "Walnut Creekside Park") %>
      <br/><span id="address">Address: 780 Creekside Drive, Walnut CA 91780</span>
      </div>
    </dd>
  </dl>
</div>