<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Pain Management</h1>
  <p>
    Managing your pet’s pain is one of our highest priorities. Pain management begins with 
    determining the location of the pain, and then using diagnostic tools to confirm the cause. 
    It has been shown again and again that pain impairs healing and, more importantly, is inhumane. 
    We place utmost importance on your pet’s comfort and well-being. Allowing an animal to suffer 
    pain is, in our view, unethical.
  </p>
  <p>
    At Citrus Veterinary Clinic, we have many strategies for controlling pain. These can 
    include oral medications, injections, constant infusions, nerve blocks, regional analgesia 
    and sustained release pain patches. Many of these methods are included in the cost for 
    routine surgical procedures. All of these methods are considered for every case, every time. 
    Osteoarthritis, one of the major sources of chronic pain for older animals, is a prevalent 
    part of pain management at our practice. Although these medications are, generally, very 
    safe and very beneficial to our patients, some of these medications do carry risks for some 
    patients. Your doctor will weigh these risks when indicated and be sure to discuss them with you.
  </p>
</div>
