<% content_for :sidemenu do %>
  <%= render "payment_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Forms of Payment</h1>
  <p>
    At Citrus Veterinary Clinic, payment is due at the time of service and we
    offer a variety of payment options for your convenience.
  </p>
  <p>
    We accept Cash, ATM/Debit, Visa, MasterCard, American Express and CareCredit&reg;.
    We also accept personal checks. (Returned checks are subject to a service charge).
  </p>
</div>
