<% content_for :sidemenu do %>
  <%= render "pet_resource_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Pet Care Resources</h1>
  
  <p>
    Now you can enjoy the comfort of home and the convenience of ordering online from our 
    <%= link_to "online pharmacy", "http://www.ourpetsrx.com/citrusvetclinic", :title => "Online Pharmacy", :target => "Online Pharmacy" %> 
    at the same time!
  </p>
</div>