<% content_for :sidemenu do %>
  <%= render "promotion_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Promotions</h1>
  <dl>
    <dt>10% Discount on Dental Procedures in Februry, 2012</dt>
    <dd>
      <p>
        February is National Pet Dental Health Month! Good oral health is an important part 
        of your furry friend's general health.
      </p>
      <p>
        In honor of National Pet Dental Month we at Citrus Veterinary Clinic will be offering 
        a 10% DISCOUNT on dental procedures throughout the the entire month of February! 
        Call us at <strong>(909) 596-1881</strong> to make your appointment today!
      </p>
    </dd>
  </dl>
</div>