<% content_for :sidemenu do %>
  <%= render "promotion_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Promotions</h1>
  <dl>
    <dt><strong>FREE Microchip</strong></dt>
    <dd>
      <p>
        When you spay or neuter your pet at our clinic
      </p>
      <dt><strong>Complimentary Nail Trim</strong></dt>
      <dd>
        When your pet is having an anesthetic procedure like surgery or a dental cleaning
        at our clinic, we will provide a complimentary nail trim as well
      </dd>
    </dd>
  </dl>
</div>