<% content_for :sidemenu do %>
  <%= render "promotion_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Promotions</h1>
    
  <dl>
    <dt><strong>May Heartworm Special</strong></dt>
    <dd>
      <% promotion_image = image_tag("HeartwormSpecials2014.png", :class=>"promotion", :alt=>"Heartworm Specials")%>
      <%= link_to promotion_image, "javascript:promotion_of_the_month()" %>
    </dd>
    <dt><strong>Complimentary Nail Trim</strong></dt>
    <dd>
      When your pets have an anesthetic procedure like surgery or a dental cleaning
      at our clinic, we will provide a complimentary nail trim as well.
    </dd>
    <dt><strong>Frontline Promotion &ndash; 4 months for the price of 3</strong></dt>
    <dd>
        Through the end of this year, Frontline is offering a free dose with every 3 pack
        purchased.
    </dd>
    <dt><strong>Comfortis Rebate</strong></dt>
    <dd>
      Receive $20 off a 12-month or $10 off a 6-month supply of Comfortis through August 31st, 2012.  You can get
      your rebate form at <a href="http://comfortis.com/vetrebate">http://comfortis.com/vetrebate</a>
    </dd>
    <dt><strong>2014 Dental Special February!! <span class="expired">Expired</span></strong></dt>
    <dd>
      <%= image_tag("dentalmonth2014.jpg", :class => "promotion", :alt => "2014 Dental Special February") %>
    </dd>
  </dl>
</div>