<% content_for :sidemenu do %>
  <%= render "promotion_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Promotions</h1>
  <dl>
    <dt><strong>FREE Microchip</strong></dt>
    <dd>
        When you spay or neuter your pets at our clinic, we provide a free microchip.
        This includes implantation and lifetime registration with AVID microchip company, a $75 value.
      <dt><strong>Complimentary Nail Trim</strong></dt>
      <dd>
        When your pets have an anesthetic procedure like surgery or a dental cleaning
        at our clinic, we will provide a complimentary nail trim as well.
      </dd>
    </dd>
    <dt><strong>Frontline Promotion &ndash; 4 months for the price of 3</strong></dt>
    <dd>
        Through the end of this year, Frontline is offering a free dose with every 3 pack
        purchased.
    </dd>
    <dt><strong>Comfortis Rebate</strong></dt>
    <dd>
      Receive $20 off a 12-month or $10 off a 6-month supply of Comfortis through August 31st, 2012.  You can get
      your rebate form at <a href="http://comfortis.com/vetrebate">http://comfortis.com/vetrebate</a>
    </dd>
  </dl>
</div>