<% content_for :sidemenu do %>
  <%= render "health_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Puppy &amp; Kitten Care</h1>
  <p>
    Puppies and kittens are exciting, entertaining, and so much fun! Remember, however, 
    that this new pet is a baby that needs plenty of attention and care. Schedule your 
    first appointment with Citrus Veterinary Clinic as soon as you know you are adopting 
    a new animal companion.
  </p>
  <p>
    It is most beneficial to have a <strong>veterinary exam</strong> prior to bringing 
    your new family member into the house, especially if you have other pets. Even as a 
    newly weaned puppy or kitten, your pet can carry parasites and infectious diseases. 
    An unfortunate infestation or life-threatening infection can be avoided with the first 
    visit to the veterinarian.
  </p>
  <p>
    At each visit, your veterinarian will weigh your pet and offer suggestions for the best 
    type of food and treats for optimum growth and vigor. An appropriate diet is necessary 
    for a healthy puppy or kitten and good quality pet food is important. Please remember 
    to keep fresh, clean water available at all times.
  </p>
  <p>
    We will also discuss spay or neuter; care of your pet’s coat, ears, and nails; house training; 
    socialization; and basic obedience training. Please see our 
    <%= link_to "veterinary surgery", surgery_path, :alt => "veterinary surgery" %>
    page for more information.
  </p>
  
  <h2>Puppy Wellness Care Schedule</h2>
  
  <table>
    <thead>
      <tr>
        <th>Age of Puppy</th>
        <th>8-11 Weeks</th>
        <th>12-15 Weeks</th>
        <th>16-18 Weeks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Physical Exam</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>DA2PPV Vaccine</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>Deworming</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>Bordatella Vaccine</td>
        <td></td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>Rabies Vaccine</td>
        <td></td>
        <td></td>
        <td>&#10004;</td>
      </tr>
    </tbody>
  </table>

  <p>
    Additional care include:  
  </p>
  <ul>
    <li>
      Fecal exam – This test will allow us to determine if any intestinal parasites 
      are present that are not being taken care of by the deworming.  
    </li>
    <li>
      Flea/Tick Control – Every dog needs to be placed on heartworm prevention 
      (Interceptor or Sentinel) and routine flea and tick control (Frontline) 
      to prevent the irritation and disease caused by fleas and ticks.      
    </li>
  </ul>

  <h2>Kitten Wellness Care Schedule</h2>    
  
  <table>
    <thead>
      <tr>
        <th>Age of Kitten</th>
        <th>8-11 Weeks</th>
        <th>12-15 Weeks</th>
        <th>16-18 Weeks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Physical Exam</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>FVRCP Vaccine</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>FeLV Vaccine</td>
        <td></td>
        <td>&#10004;</td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>Rabies Vaccine</td>
        <td></td>
        <td></td>
        <td>&#10004;</td>
      </tr>
      <tr>
        <td>Deworming</td>
        <td>&#10004;</td>
        <td>&#10004;</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <p>
    Additional Care include:
  </p>
  <ul>
    <li>
      Deworming – Virtually all kittens are born with worms or pick them up soon after birth.
      Some of these parasites can be transmitted to humans, especially children.
    </li>
    <li>
      Fecal exam – This test will allow us to determine if any intestinal parasites are 
      present that are not being taken care of by the deworming.
    </li>
    <li>
      Flea/Tick /Heartworm Control –  Every cat needs to be placed on heartworm prevention 
      and routine flea control (Revolution) to prevent the irritation and disease caused by fleas.
    </li>  
  </ul>
  
  <p>
    See our <%= link_to "Pet Vaccination page", vaccination_path, :alt => "Pet Vaccination page" %>
    for more information on vaccines and disease they prevent.
  </p>
  <p>
    Bring your pet care questions or concerns to this first visit. The professionals at 
    Citrus Veterinary Clinic are your pet care partners, providing the best veterinary care 
    and the support you need to feel confident and knowledgeable about raising your new puppy or kitten.
  </p>
  
</div>
