<% content_for :sidemenu do %>
  <%= render "health_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Senior Pet Care</h1>
  <p>
    Prevention is the key to enjoying many happy years with your senior pet. Because 
    pets age faster than people, regular check-ups and preventive care are an important 
    part of your senior pet's health plan. Your pet is considered a senior around seven years of age.
  </p>
  
  <h2>When Is Your Pet a Senior?</h2>
  <table>
    <thead>
      <tr>
        <th>Real Age in Years</th>
        <th><span class="line">Small Dog:</span>1–20 lbs.</th>
        <th><span class="line">Medium Dog:</span>21-40 lbs.</th>
        <th><span class="line">Large Dog:</span>41-90 lbs.</th>
        <th><span class="line">Giant Dog:</span>90+ lbs</th>
        <th>Cats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>15 years old</td>
        <td>15 years old</td>
        <td>14 years old</td>
        <td>12 years old</td>
        <td>24 years old</td>
      </tr>
      <tr>
        <td>3</td>
        <td>28 years old</td>
        <td>29 years old</td>
        <td>29 years old</td>
        <td>28 years old</td>
        <td>42 years old</td>
      </tr>
      <tr>
        <td>5</td>
        <td>36 years old</td>
        <td>38 years old</td>
        <td>40 years old</td>
        <td>42 years old</td>
        <td>48 years old</td>
      </tr>
      <tr>
        <td>8</td>
        <td>48 years old</td>
        <td>51 years old</td>
        <td>55 years old</td>
        <td>64 years old</td>
        <td>57 years old</td>
      </tr>
      <tr>
        <td>10</td>
        <td>56 years old</td>
        <td>60 years old</td>
        <td>66 years old</td>
        <td>78 years old</td>
        <td>63 years old</td>
      </tr>
      <tr>
        <td>12</td>
        <td>64 years old</td>
        <td>69 years old</td>
        <td>77 years old</td>
        <td>93 years old</td>
        <td>69 years old</td>
      </tr>
      <tr>
        <td>15</td>
        <td>76 years old</td>
        <td>83 years old</td>
        <td>93 years old</td>
        <td>115 years old</td>
        <td>78 years old</td>
      </tr>
    </tbody>
  </table>
  
  <h2>Senior Pet Wellness Exam</h2>
  <p>
    Citrus Veterinary Clinic is committed to helping your pet enjoy a long, healthy, 
    happy life with you. During your senior pet’s exam, our veterinarians and staff 
    will conduct a full nose-to-tail exam, as they do for all pets. Our Senior Health 
    Exam may also include the following items:
  </p>
  <ul>
    <li>Total Health Profile Blood Test</li>
    <li>Electrocardiogram</li>
    <li>X-rays</li>
    <li>Urinalysis</li>
    <li>Blood Pressure Check</li>
  </ul>
  <p>
    The senior health exam along with the diagnostic tools will help us screen for:
  </p>
  <ul>
    <li>Arthritis</li>
    <li>Kidney and liver function</li>
    <li>Heart disease</li>
    <li>Diabetes</li>
    <li>Thyroid problems</li>
    <li>Hypertension</li>
  </ul>
  <p>
    Our veterinarians will take the time to listen to any concerns you may have 
    and work with you to determine the best course of action. If pet pain relief 
    is needed, we will determine and prescribe the most appropriate medication 
    available based on your pet’s medical condition and the cause of the problem.
  </p>
  <p>
    If you have any concerns or questions about your senior pet, including dietary 
    or behavior issues, please feel free to ask  one of our friendly staff 
    at <strong>909-596-1881</strong>.
  </p>
</div>
