<% content_for :sidemenu do %>
  <%= render "service_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Veterinary Surgery</h1>
  <%= image_tag("/images/surgery300.jpg", :class => "imageright") %>
  <p>
    The veterinarians at Citrus Veterinary Clinic are experienced in performing a wide range of veterinary 
    surgical procedures. Surgeries performed include spay/neuter procedures, mass and tumor removals, 
    and more complicated soft-tissue and orthopedic surgeries.
  </p>
  <h2>Your Pet's Surgery</h2>
  <p>
    Your pet's safety and comfort are our priority. Because all pets react differently to anesthesia, 
    we perform a complete physical examination and a series of blood tests prior to surgery, so that 
    we may detect any pre-existing conditions that might affect the use of anesthesia on your pet.
  </p>
  <p>
    During surgery, your pet is closely monitored. He or she is kept warm and comfortable 
    during the procedure and a specially-trained veterinary technician is also present 
    to assist with the procedure and monitor your pet's condition. Our goal is to keep your 
    pet safe, comfortable and pain-free.
  </p>
  <p>
    Pain management is an important part of our intra- and post-surgical protocols. The less 
    pain your pet experiences, the faster his or her recovery time. We provide pain medication 
    to all pets following surgery. At discharge, we may send additional pain management 
    medication home with you and your pet.
  </p>

  <h2>Surgical Admissions</h2>
  <ul>
    <li>Presurgical bloodwork is required for all anesthetic patients</li>
    <li>Consent forms must be signed prior to surgery</li>
    <li>No food after 10PM the night before surgery (water is ok)</li>
    <li>Arrive at the hospital between 8:00- 8:30 the morning of surgery</li>
    <li>Please provide us with accurate contact information for a responsible party available throughout the day</li>
    <li>If you would like to spend additional time with the veterinarian you may schedule a pre-surgical 
      consult prior to the day of the procedure.</li>
  </ul>

  <h2>During the Day</h2>
  <p>
    It is generally difficult to give you a specific time for your pet’s surgery. Scheduled 
    surgeries are not performed based on the order of check-in but on the procedures being performed that day.
  </p>
  <p>
    Feel free to call during the day to check on your companion’s surgical and recovery status. 
    Your pet will be assigned a technician who can update you regularly. You'll be able to talk 
    to the veterinarian when you pick up your pet at the end of the day to go over surgery aftercare.
  </p>

  <h2>After Surgery</h2>
  <ul>
    <li>Follow your discharging veterinarian’s instructions</li>
    <li>Monitor your pets incision for swelling and redness</li>
    <li>Monitor your pet’s appetite</li>
    <li>Maintain bandages and administer medications as instructed</li>
    <li>Return for follow-up as directed</li>
  </ul>
</div>
