<% content_for :sidemenu do %>
  <%= render "about_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Meeting Veterinarians at Citrus Veterinary Clinic</h1>
  <h2>Catherine Cheng VMD</h2>
  <p>
    <%= image_tag("staff/catherine.jpg", :alt => "Catherine Cheng, VMD", :class => "photo") %>
    Dr. Catherine Cheng  is a small animal general practitioner at Citrus Veterinary Clinic. She has been providing veterinary care for dogs and cats since 2002.
  </p>
  <p>
    Growing up on a farm with her grandparents, Dr. Cheng became an animal lover and was determined to become a veterinarian at a young age. Dr. Cheng attended McGill University in Montreal, Canada and received her Bachelor's Degree with First Class Honors in Biochemistry in 1998. She went on to attend College of Veterinary Medicine at the University of Pennsylvania and was awarded her Doctorate in Veterinary Medicine in 2002. Dr. Cheng was a member of the Phi Zeta Honor Society at the University of Pennsylvania and was a two-time scholarship recipient from the National Institute of Health for her research publications in undergraduate and graduate schools. Dr. Cheng particularly enjoys working on challenging medical cases and has a strong interest in surgery. She is a member of the American Veterinary Medical Association, the American Animal Hospital Association and the California Veterinary Medical Association.
  </p>
  <p>
    In her spare time, Dr. Cheng enjoys traveling, dancing, playing badminton and spending time with family and friends. She is married to James and they share their home with two cats, Kiwi and Halie.
  </p>
  <div style="clear:both;"></div>
  <h2>Teri Clark VMD</h2>
  <p>
    <%= image_tag("staff/teri.jpg", :alt => "Teri Clark, VMD", :class => "photo") %>
    Dr. Teri Clark has been an associate veterinarian with Citrus Veterinary Clinic since 2005.  She attended Duke University in Durham, NC and graduated cum laude with a Bachelor of Science in Biology in 1994.  After college Dr. Clark served in the Peace Corps and then went on to attend the University Of Pennsylvania, School of Veterinary Medicine.  She was a member of the Phi Zeta Honor Society and a recipient of the Erna, Herbert, and Eberhardt LeSchin Scholarship and the Lois F. Fairchild Scholarship in Veterinary Public Service.  She was awarded a Veterinariae Medicinae Doctoris cum laude in 2002.  Dr. Clark worked for the United States Department of Agriculture and the Inland Valley Humane Society before coming to Citrus Veterinary Clinic.  She is a member of the American Veterinary Medical Association.
  </p>
  <p>
    Dr. Clark grew up in Blue Bell, Pennsylvania and moved to California after veterinary school.  She is married and has a daughter and a son.  They have 2 dogs, Bertie and Earwig, and 5 cats, Magnolia, Tumbleweed, Omo, Squeaky, and Mia.
  </p>
  <div style="clear:both;"></div>
</div>
<!-- END #copy -->
